<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <header>
        <a href="#" class="logo">YourLogo</a>
        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
                <li><a class="active" href="#home">home</a></li>
                <li><a href="#about">about</a></li>
                <li><a href="#features">features</a></li>
                <li><a href="#product">Implementation</a></li>
                <li><a href="#contact">contact</a></li>
                <li id="signin"><a href="#faq">SignIn</a></li>
                <div id="Searchbox">
                    <img id="Searchbox" src="/images/Search.jpg" alt="" height="50px" width="50px">
                </div>
            </ul>
        </nav>
    </header>

    <section class="home" id="home">
        <div class="content">
            <h1>Product<br>Inventory</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quaerat explicabo ullam molestiae delectus
                blanditiis voluptatibus </p>
            <a href="#"><button class="btn1">More Details</button></a>
            <a href="#"><button class="btn">View demo</button></a>
        </div>
        <div class="image">
            <img src="/images/Icon.jpg" alt="" height="20px">
        </div>
        <br>
        <div id="lastlext">
            <h1 style="font-family: Proxima Nova, Avenir Next;">All Rights Reserved</h1>
        </div>
    </section>
   



</body></html>